**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.DS_Store
**/bin
**/obj
**/out
**/*.trx
**/*.md
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/coverage
**/TestResults
**/tests
**/.env
**/.env.*
**/firebase-dev-credentials.json
**/firebase-test-credentials.json
README.md
LICENSE
.editorconfig
.gitattributes
